# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
node_modules/
dist/
build/

# macOS
.DS_Store

# C/C++ compiled outputs (we build inside Docker, so prevent local committing by accident)
interceptor/*.so
interceptor/mlfq_handler
interceptor/*.o

# Python
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Firebase / Secret Keys
.firebase/
*serviceAccountKey.json
